{% extends 'base.html' %}

{% block header %}
<div class="alert alert-secondary" role="alert">
    <div class="container">
        <p class="display-4">新しいタスクを追加</p>
    </div>
</div>
{% endblock header %}

{% block content %}

<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <p>タイトル</p>
        <p>{{form.title}}</p>
        <p>詳細</p>
        <p>{{form.memo}}</p>
        <p>優先度 {{form.priority}}</p>
        <p>締め切り日 {{form.duedate}}</p>
        <input type="hidden" name=user_name value="{{user.username}}">
        <input type="submit" value="作成する">
    </form>
</div>

{% endblock content %}